<footer id="footer">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="footer-info">
								<h3>UFRPE</h3>
								<p>
									Rua Dom Manoel de Medeiros, s/n<br>
									Dois Irmãos Recife-PE-Brasil<br>
									CEP 52 171-900<br><br>
									<!-- <strong>Phone:</strong> +1 5589 55488 55<br> -->
									<strong>Email:</strong>
									  <br>
								</p>

							</div>
						</div>

						<div class="col-lg-3 col-md-6 footer-links">
							<h4>Links úteis</h4>
							<ul>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a href="#">Inicio</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a href="#about">Sobre</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a href="#services">Serviços</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a href="#portfolio">Divulgação</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a target="_blank" href="http://ufrpe.br">UFRPE</a>
								</li>
							</ul>
						</div>

						<div class="col-lg-3 col-md-6 footer-links">
							<h4>Nossos Serviços</h4>
							<ul>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a target="_blank" href="http://empreendedorismo.ufrpe.br">Empreendedorismo</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a target="_blank" href="http://inovacao.ufrpe.br">Inovação</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a target="_blank" href="http://nupesq.ufrpe.br">Pesquisa</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a target="_blank" href="http://international.ufrpe.br ">International</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a target="_blank" href="http://parcerias.ufrpe.br">Relações Institucional</a>
								</li>
							</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer><!-- Template Main JS File -->

		<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
