<!-- ======= Featured Services Section ======= -->
			<section id="featured-services" class="featured-services">
				<div
					class="container" data-aos="fade-up">
					<!--
					      <div class="section-title">
					          <h2>Estude na UFRPE</h2>
					      </div>
					  -->
					<div class="row justify-content-center align-items-center">
						<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <a href="/estagio">
								<div class="icon-box text-center" data-aos="fade-up" data-aos-delay="100">
									<div class="icon">
										<i class="fas fa-graduation-cap"></i>
									</div>
									<h4 class="title">
										<a href="/estagio">{{ 'Estágio'|t }}
										</a>
									</h4>
								</div>
                            </a>
						</div>

						<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
							<a href="/residencia">
								<div class="icon-box text-center" data-aos="fade-up" data-aos-delay="200">
									<div class="icon">
										<i class="fas fa-hotel"></i>
									</div>
									<h4 class="title">
										<a href="/residencia">{{ 'Residência'|t }}</a>
									</h4>
								</div>
							</a>
						</div>

						<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
							<a href="/pos-graduacao">
								<div class="icon-box text-center" data-aos="fade-up" data-aos-delay="200">
									<div class="icon">
										<i class="fas fa-flask"></i>
									</div>
									<h4 class="title">
										<a href="/pos-graduacao">{{ 'Mestrado e doutorado'|t }}</a>
									</h4>
								</div>
							</a>
						</div>

						<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
							<a href="/atendimento-ao-publico">
								<div class="icon-box text-center" data-aos="fade-up" data-aos-delay="300">
									<div class="icon">
										<i class="fas fa-people-carry"></i>
									</div>
									<h4 class="title">
										<a href="/atendimento-ao-publico">{{ 'Atendimento ao Público'|t }}</a>
									</h4>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<!-- End Featured Services Section -->